<button (click)="getCountries()">Get Countries</button>
<br/>
<table *ngIf="countries" >
  <tr>
  <th>Country</th><th>Capital</th>
  </tr>
<tr *ngFor="let country of countries">
  <td>{{country.name}}</td><td>{{country.capital}}</td>
</tr>
</table>
<br/>
<div id="search-component">
  <h4>Country Search</h4>
 
   <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
 
  <ul>
    <li *ngFor="let country of countries$ | async" class="search-result">
         <span (click)="selectCountry(country)"> {{country.name}}</span>
    </li>
  </ul> 

</div>
<div *ngIf="selectedCountry">
  {{selectedCountry}}
</div>